*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-shadow: 1px 1px 2px black;
}

body {
  background-image: url('https://picsum.photos/g/2560/1440/?blur');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  & > img {
  display: block;
  }
}

.flash-notice {
  color: white;
  font-weight: 900;
}

.flash-alert {
  color: white;
  font-weight: 900;
}

.flash-success {
  color: white;
  font-weight: 900;
}

.site-header {
  background-color: #727773;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.logo {
  text-decoration: underline;
}

.site-nav > p {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 900;
}

.project-link {
  background-color: #727773;
}

.home_display_wrapper > h3 {
    line-height: 25px;
    font-size: 1.6em;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

h2 {
    color: white;
}

p {
    color: white;
}

h3 {
    color: white;
}

h1 {
    color: white;
}

.home_display_wrapper {
    text-align: center;
}

.category {
  vertical-align: top;
  display: inline-block;
  padding: 25px;
  border: solid;
  border-radius: 20px;
  border-width: 2px;
  max-height: 380px;
  min-height: 380px;
  margin: 5%;
  margin-bottom: 0;
  background-color: #727772;
}

.category_image {
  max-width: 200px;
}

h4.category_title {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-decoration-line: underline;
}

.category_entry {
  font-weight: 600;
}
